$base-class: starter;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  &__container {
    font-size: 40px;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(50vh - 75px);
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
